name: go-test

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/go-test.yaml
      - apps/**

jobs:
  setup:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    outputs:
      jobs: ${{ env.MONOTONIX_JOBS }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: yuya-takeyama/monotonix/actions/load-jobs@main
        with:
          root-dir: apps
          required-config-keys: 'go_test'
          global-config-file-path: apps/monotonix-global.yaml
      - if: ${{ github.event_name == 'pull_request' }}
        uses: yuya-takeyama/monotonix/actions/filter-jobs-by-changed-files@main
      - uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::920373013500:role/monotonix-state-manager
          aws-region: ap-northeast-1
      - uses: yuya-takeyama/monotonix/actions/filter-jobs-by-dynamodb-state@main
        with:
          dynamodb-table: monotonix-state
          dynamodb-region: ap-northeast-1

  test:
    name: ${{ matrix.job.context.label }}
    needs: setup
    if: ${{ needs.setup.outputs.jobs != '[]' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        job: ${{ fromJSON(needs.setup.outputs.jobs) }}
    steps:
      - uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::920373013500:role/monotonix-state-manager
          aws-region: ap-northeast-1
      - uses: yuya-takeyama/monotonix/actions/set-dynamodb-state-to-running@main
        with:
          dynamodb-table: monotonix-state
          dynamodb-region: ap-northeast-1
          job: ${{ toJSON(matrix.job) }}
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: ${{ matrix.job.configs.go_test.go_version_file }}
          cache-dependency-path: ${{ matrix.job.configs.go_test.cache_dependency_path }}

      - name: Run go test
        run: |
          cd "$APP_PATH"
          go test -v ./...
        env:
          APP_PATH: ${{ matrix.job.context.app_path }}
